<div class="SwapScreenProfile">
  <a routerLink="/profile">Profile</a>
</div>

<div class="containerPcFormGet">
    <table mat-table [dataSource]="userReservations" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="dateDebut">
            <th mat-header-cell *matHeaderCellDef> Date Début </th>
            <td mat-cell *matCellDef="let element"> {{element.dateDebut | date : "dd/MM/YYYY hh:mm"}} </td>
          </ng-container>

          <ng-container matColumnDef="dateFin">
            <th mat-header-cell *matHeaderCellDef> Date Fin </th>
            <td mat-cell *matCellDef="let element"> {{element.dateFin| date : "dd/MM/YYYY hh:mm"}} </td>
          </ng-container>

          <ng-container matColumnDef="PC">
            <th mat-header-cell *matHeaderCellDef> PC </th>
            <td mat-cell *matCellDef="let element"> {{element.pc.name}} </td>
          </ng-container>

          <ng-container matColumnDef="Utilisateur">
            <th mat-header-cell *matHeaderCellDef> Utilisateur </th>
            <td mat-cell *matCellDef="let element"> {{element.user.email}} </td>
          </ng-container>
          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef> Prix </th>
            <td mat-cell *matCellDef="let element"> {{element.pc.price * element.TimeReserv | currency: 'EUR':"symbol"}} </td>
          </ng-container>


          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button type="button" class="btn btn-outline-danger" (click)="onDeleteReservation(element.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                    Annuler
                </button>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
</div>