<div class="page">
    <div class="NosPCBody">
        <div class="card">
            <div class="card__body">
                <p class="cardTop">Bureautique</p>
                <img src="https://www.backmarket.fr/cdn-cgi/image/format=auto,quality=75,width=1920/https://d1eh9yux7w8iql.cloudfront.net/product_images/1460370107.34.jpg"
                    width="300px" height="300px">
            </div>
            <br />
            <p class="card__title">Un Ordinateur avec des performances faible mais suffisante pour de la Bureautique
                avec un prix faible</p>
            <button class="BaseButton" (click)="RedirectToReserv()">Réserver</button>
        </div>
        <div class="card">
            <div class="card__body">
                <p class="cardTop">Gaming</p>
                <img src="https://d10mhq06fikmnr.cloudfront.net/catalog/product/thumbnail/2d571cd9f08062fc5c7f93d1b0eb0e30/image/1000x1000/110/80/h/u/hunter_rev2_main_rgb-min_6.png"
                    width="300px" height="300px">
            </div>
            <br />
            <p class="card__title">Un Ordinateur avec des performances Moyenne mais suffisante pour du Gaming,
                fonctionne sur la majorité des jeux avec un prix faible</p>
            <button class="BaseButton" (click)="RedirectToReserv()">Réserver</button>
        </div>
        <div class="card">
            <div class="card__body">
                <p class="cardTop"> Creation</p>
                <img src="https://m.media-amazon.com/images/I/61ErJVllLiL._AC_SL1000_.jpg" width="300px" height="300px">
            </div>
            <br />
            <p class="card__title">Un Ordinateur avec des performances élevés pour du Gaming extreme et de la Creation
                de contenue et/ou streaming a un prix raisonnable</p>
            <button class="BaseButton" (click)="RedirectToReserv()">Réserver</button>
        </div>
        <div class="card">
            <div class="card__body">
                <p class="cardTop"> Competition</p>
                <img src="https://media.materiel.net/r550/products/MN0005865302_1_0005888240_0005942574.jpg"
                    width="300px" height="300px">
            </div>
            <br />
            <p class="card__title">Un Ordinateur surpuissant capable de tous faire il posséde les meilleur composant du
                marché toujours a un prix raisonnable</p>
            <button class="BaseButton" (click)="RedirectToReserv()">Réserver</button>
        </div>
    </div>
</div>