<div class="ProfileForm"> 
    <div class="ProfilForm1">
        <div class="ProfilForm">
    <p>
        <label class="formLabel">Nom</label>
        <input type="text" [(ngModel)]="firstName" />
    </p>
    <p>
        <label class="formLabel">Prénom</label>
        <input type="text" [(ngModel)]="lastName" />
    </p>
    <p>
        <label class="formLabel">Nom d'utilisateur</label>
        <input type="text" [(ngModel)]="userName" />
    </p>
    <p>
        <label class="formLabel">Email</label>
        <input type="text" [(ngModel)]="email" />
    </p>
    <p>
        <label class="formLabel">Numéro de Téléphone</label>
        <input type="text" [(ngModel)]="phoneNumber" />
    </p>
    <p>
        <label class="formLabel">Mot de Passe</label>
        <input type="password" [(ngModel)]="password" />
    </p>
    <p>
        <label class="formLabel">Valider le mot de passe</label>
        <input type="password" [(ngModel)]="confirmPassword" />
    </p>

    <button class ="BaseButton" (click)="register()">S'inscrire</button>
    
</div>
</div>
</div>