<div class="HomePage"> 
<div class="HomePageContent"> 
  
<h1 class="Titre">Gamin'Home</h1>   
<p class="SousTitre">Qui sommes-nous ? </p> 
<p class="Texte">Gamin'Home est un cybercafé situé en <a  class="link" href="https://www.google.com/search?rlz=1C1CHBF_frFR866FR866&q=materiel.net+lille+adresse&ludocid=8891216163097536350&sa=X&ved=2ahUKEwiR08TtjZH3AhXtgs4BHQhzA4QQ6BN6BAhgEAI&biw=1920&bih=937">plein coeur de la Ville.</a>
                 Notre but est de proposer un accès 
                 à une connexion internet très haut débit et à une panoplie <br>
                 <a  class="link" routerLink="listPC">d'ordinateurs</a> au plus grand nombre.             
</p>
   
<p class="SousTitre">Comment ça marche ? </p> 
<p class="Texte"> La première étape est de  te <a class="link" routerLink="/register">créer un compte </a>. 
                  Ensuite tu pourras consulter via tout les liens disponible dans la navigation 
                </p>
</div>

</div>